@import 'tailwindcss';
@import './shadcn.css';

@theme {
  --color-futi: oklch(0.63 0.15 252.19);
}

@layer base {
  .futi-ui * {
    @apply transition-colors;
  }

  body {
    background-image: radial-gradient(23rem 23rem at 70% 30%,hsla(0,0%,100%,.2),hsla(0,0%,100%,0)),linear-gradient(#22252b 20rem,#15161a 62rem);
    background-blend-mode: overlay, normal;
    @apply font-sans text-foreground;
  }
}