@import 'tailwindcss';
@import './shadcn.css';

@theme {
  --color-futi: oklch(0.63 0.15 252.19);

  --font-geometos: 'Geometos', sans-serif;
  --font-monaspace-neon: 'MonaspaceNeon', monospace;
}

@layer base {
  .futi-ui * {
    @apply transition-colors;
  }

  body {
    background-image: radial-gradient(23rem 23rem at 70% 30%,hsla(0,0%,100%,.2),hsla(0,0%,100%,0)),linear-gradient(#22252b 20rem,#15161a 62rem);
    background-blend-mode: overlay, normal;
    @apply font-sans text-foreground;
  }
}

.futi-text-lyrics {
  text-shadow: rgba(6, 7, 25, 0.32) 0.05em 0.05em 0;
}

@font-face {
  font-family: Geometos;
  src: url('@/assets/font/Geometos.woff') format('woff');
}

@font-face {
  font-family: MonaspaceNeon;
    src: url('@/assets/font/MonaspaceNeon.woff') format('woff');
}